<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EventHubNamespace" value="EventHubNS47" />
    <add key="EventHubEntityPath" value="eventhub47" />
    <add key="EventHubSharedAccessKeyName" value="Listener" />
    <add key="EventHubSharedAccessKey" value="NJXxqG7GLihsrth4kSgYHeoZc80mxVc1zfShP9+mC08=" />
    <add key="EventHubPartitions" value="2" />
  </appSettings>
</configuration>